body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
    height: 100vh;
    font-family: 'Oswald', sans-serif;

}
footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 40px 0px;
}
#left{
    width: 60%;
    /* background-color: red; */
    display: flex;
}
#right{
    width: 35%;
    /* background-color: yellow; */
    border-left: 2px solid yellow;
    display: flex;
    
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white ;
    display: block;
    padding: 2px;
}
li{
    color: white;
}
h5{
    color: rgb(188, 168, 168);
    margin: 0;
    padding-bottom: 20px;
}
#menu{
    background-color: black;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 100%;
    display: none;
}
#drop{
    position: relative;

}
#drop:hover #menu
{
    display: block;
}